In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import numpy as np
from scipy.stats import pearsonr

In [2]:
per_pupil_exp_clean = pd.read_csv('../data/per_pupil_exp_clean.csv')

In [3]:
grade_4_math = pd.read_csv('../data/grade_4_math.csv')

In [4]:
grade_8_math = pd.read_csv('../data/grade_8_math.csv')

In [5]:
grade_4_reading = pd.read_csv('../data/grade_4_reading.csv')

In [6]:
grade_8_reading = pd.read_csv('../data/grade_8_reading.csv')

#### 4th reading

In [8]:
ppe_4th_reading = pd.merge(
    per_pupil_exp_clean,
    grade_4_reading,
    left_on=['State', 'Schl_Year_Start'],
    right_on=['State', 'Year'],
    how='inner'
)

In [10]:
ppe_4th_reading

,State,TimeFrame,Schl_Year_Start,PPE,Inflation_Factor,Value_adj,Year,Avg_Scale_Score
0,Alabama,2019-2020,2019,10140,1.23,12472.2,2019,211.7
1,Alabama,2017-2018,2017,9717,1.27,12340.6,2017,216.4
2,Alabama,2015-2016,2015,9258,1.32,12220.6,2015,217.0
3,Alabama,2013-2014,2013,9036,1.34,12108.2,2013,218.6
4,Alabama,2011-2012,2011,8577,1.40,12007.8,2011,220.3
...,...,...,...,...,...,...,...,...
505,Wyoming,2009-2010,2009,15232,1.46,22238.7,2009,222.7
506,Wyoming,2007-2008,2007,13856,1.52,21061.1,2007,225.3
507,Wyoming,2003-2004,2003,9308,1.70,15823.6,2003,222.1
508,Wyoming,2005-2006,2005,11437,1.62,18527.9,2005,223.3
509,Wyoming,2002-2003,2002,8985,1.74,15633.9,2002,221.1

In [11]:
correlation = ppe_4th_reading['Value_adj'].corr(ppe_4th_reading['Avg_Scale_Score'])
print("Correlation coefficient:", correlation)

Correlation coefficient: 0.2349799437533934

In [12]:
dc_df = ppe_4th_reading[ppe_4th_reading['State'] == 'District of Columbia']


correlation_dc = dc_df['Value_adj'].corr(dc_df['Avg_Scale_Score'])
print("Correlation for DC:", correlation_dc)

Correlation for DC: 0.8558051728303131

In [13]:
ut_df = ppe_4th_reading[ppe_4th_reading['State'] == 'Utah']


correlation_ut = ut_df['Value_adj'].corr(ut_df['Avg_Scale_Score'])
print("Correlation for UT:", correlation_ut)

Correlation for UT: 0.5838822631191344

#### 8th reading

In [14]:
ppe_8th_reading = pd.merge(
    per_pupil_exp_clean,
    grade_8_reading,
    left_on=['State', 'Schl_Year_Start'],
    right_on=['State', 'Year'],
    how='inner'
)

In [15]:
correlation = ppe_8th_reading['Value_adj'].corr(ppe_8th_reading['Avg_Scale_Score'])
print("Correlation coefficient:", correlation)

Correlation coefficient: 0.174995103698551

In [16]:
dc_df = ppe_8th_reading[ppe_8th_reading['State'] == 'District of Columbia']


correlation_dc = dc_df['Value_adj'].corr(dc_df['Avg_Scale_Score'])
print("Correlation for DC:", correlation_dc)

Correlation for DC: 0.7551448123270068

In [17]:
ut_df = ppe_8th_reading[ppe_8th_reading['State'] == 'Utah']


correlation_ut = ut_df['Value_adj'].corr(ut_df['Avg_Scale_Score'])
print("Correlation for UT:", correlation_ut)

Correlation for UT: 0.3906565755127553

#### 4th math

In [23]:
ppe_4th_math = pd.merge(
    per_pupil_exp_clean,
    grade_4_math,
    left_on=['State', 'Schl_Year_Start'],
    right_on=['State', 'Year'],
    how='inner'
)

In [24]:
correlation = ppe_4th_math['Value_adj'].corr(ppe_4th_math['Avg_Scale_Score'])
print("Correlation coefficient:", correlation)

Correlation coefficient: 0.20234242906250194

In [25]:
dc_df = ppe_4th_math[ppe_4th_math['State'] == 'District of Columbia']


correlation_dc = dc_df['Value_adj'].corr(dc_df['Avg_Scale_Score'])
print("Correlation for DC:", correlation_dc)

Correlation for DC: 0.8342168724328346

In [26]:
ut_df = ppe_4th_math[ppe_8th_math['State'] == 'Utah']


correlation_ut = ut_df['Value_adj'].corr(ut_df['Avg_Scale_Score'])
print("Correlation for UT:", correlation_ut)

Correlation for UT: 0.6145414084238979

#### 8th math

In [18]:
ppe_8th_math = pd.merge(
    per_pupil_exp_clean,
    grade_8_math,
    left_on=['State', 'Schl_Year_Start'],
    right_on=['State', 'Year'],
    how='inner'
)

In [19]:
correlation = ppe_8th_math['Value_adj'].corr(ppe_8th_math['Avg_Scale_Score'])
print("Correlation coefficient:", correlation)

Correlation coefficient: 0.19062511987638647

In [20]:
dc_df = ppe_8th_math[ppe_8th_math['State'] == 'District of Columbia']


correlation_dc = dc_df['Value_adj'].corr(dc_df['Avg_Scale_Score'])
print("Correlation for DC:", correlation_dc)

Correlation for DC: 0.8423162936724141

In [21]:
ut_df = ppe_8th_math[ppe_8th_math['State'] == 'Utah']


correlation_ut = ut_df['Value_adj'].corr(ut_df['Avg_Scale_Score'])
print("Correlation for UT:", correlation_ut)

Correlation for UT: 0.6405672298341959