In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [38]:
doe_2022

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,DEPARTMENT OF EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Funds for State Formula-Allocated and Selected...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
doe_2022 = pd.read_csv('../data/doe_2022.csv', encoding="cp1252")

In [7]:
doe_2022=doe_2022.reset_index(drop=True)

In [8]:
doe_2022 = doe_2022.iloc[2177:2228, 0:2]

In [9]:
doe_2022.columns = ["State or Other Area", "2022"]

In [10]:
doe_2022["2022"] = doe_2022["2022"].str.replace(",", "").astype(int)

In [11]:
doe_2022.head()

     State or Other Area         2022
2177             Alabama   2533745786
2178              Alaska    377218230
2179             Arizona   5424202388
2180            Arkansas   1266409261
2181          California  16930897583

In [12]:
doe_2022.tail()

     State or Other Area        2022
2223            Virginia  4411761992
2224          Washington  2285866171
2225       West Virginia  1047911882
2226           Wisconsin  2195977973
2227             Wyoming   238693019

In [13]:
doe_2001_2008 = pd.read_csv('../data/doe_2001_2008.csv', encoding="cp1252")

In [14]:
doe_2001_2008=doe_2001_2008.reset_index(drop=True)

In [15]:
doe_2001_2008 = doe_2001_2008.iloc[4550:4601, 0:16]
doe_2001_2008

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
4550,Alabama,"1,205,096,441",NaN,"1,387,975,241",NaN,"1,584,581,070",NaN,"1,672,101,861",NaN,"1,677,873,818",NaN,"1,658,852,571",NaN,"1,774,144,162",NaN,"1,986,869,436"
4551,Alaska,"227,988,480",NaN,"260,180,178",NaN,"280,079,667",NaN,"299,103,691",NaN,"304,062,005",NaN,"301,221,949",NaN,"305,996,184",NaN,"318,560,716"
4552,Arizona,"1,990,909,460",NaN,"2,520,137,525",NaN,"3,103,945,066",NaN,"4,312,713,049",NaN,"4,678,691,268",NaN,"5,024,773,228",NaN,"5,864,572,510",NaN,"6,375,493,472"
4553,Arkansas,"618,218,324",NaN,"733,650,835",NaN,"829,601,733",NaN,"888,970,231",NaN,"930,347,440",NaN,"943,608,285",NaN,"988,744,641",NaN,"1,046,683,517"
4554,California,"7,895,473,833",NaN,"9,092,121,808",NaN,"9,928,105,199",NaN,"10,825,485,264",NaN,"11,080,946,384",NaN,"11,259,250,170",NaN,"11,912,567,291",NaN,"12,912,570,108"
4555,Colorado,"1,061,188,114",NaN,"1,238,777,106",NaN,"1,416,997,560",NaN,"1,665,593,582",NaN,"1,823,869,012",NaN,"1,906,039,380",NaN,"2,029,026,695",NaN,"2,200,548,161"
4556,Connecticut,"703,315,579",NaN,"825,970,250",NaN,"908,683,240",NaN,"965,299,387",NaN,"997,567,838",NaN,"989,209,889",NaN,"1,081,503,459",NaN,"1,150,836,531"
4557,Delaware,"187,754,734",NaN,"216,149,404",NaN,"226,632,147",NaN,"286,492,122",NaN,"293,525,157",NaN,"288,998,217",NaN,"325,591,740",NaN,"362,014,919"
4558,District of Columbia,"596,359,049",NaN,"663,632,391",NaN,"747,391,195",NaN,"832,483,943",NaN,"716,632,246",NaN,"797,311,644",NaN,"853,788,583",NaN,"927,957,391"
4559,Florida,"3,622,745,422",NaN,"4,124,966,740",NaN,"4,631,097,940",NaN,"5,181,788,479",NaN,"5,701,576,524",NaN,"5,805,917,256",NaN,"6,267,422,115",NaN,"6,744,987,114"
4560,Georgia,"1,973,334,617",NaN,"2,313,606,367",NaN,"2,618,655,949",NaN,"3,047,639,805",NaN,"3,279,800,371",NaN,"3,385,081,272",NaN,"3,511,477,352",NaN,"3,907,401,173"
4561,Hawaii,"229,367,192",NaN,"271,216,945",NaN,"296,507,436",NaN,"328,434,252",NaN,"356,335,228",NaN,"352,899,977",NaN,"342,789,118",NaN,"353,191,298"
4562,Idaho,"317,431,995",NaN,"387,946,629",NaN,"443,846,331",NaN,"465,769,792",NaN,"468,785,354",NaN,"467,601,127",NaN,"484,532,926",NaN,"562,589,289"
4563,Illinois,"3,128,505,463",NaN,"3,787,395,383",NaN,"4,402,319,739",NaN,"4,949,209,265",NaN,"4,728,937,533",NaN,"4,879,526,580",NaN,"5,255,753,298",NaN,"5,813,116,523"
4564,Indiana,"1,565,548,276",NaN,"1,831,992,075",NaN,"2,012,969,908",NaN,"2,163,633,194",NaN,"2,243,657,479",NaN,"2,271,212,934",NaN,"2,486,601,474",NaN,"2,663,698,922"
4565,Iowa,"901,029,813",NaN,"1,050,102,995",NaN,"1,197,441,529",NaN,"1,359,456,012",NaN,"1,431,675,661",NaN,"1,523,025,722",NaN,"1,960,014,304",NaN,"2,276,849,748"
4566,Kansas,"714,466,440",NaN,"831,895,259",NaN,"949,612,346",NaN,"980,808,704",NaN,"996,327,475",NaN,"985,416,174",NaN,"1,038,701,562",NaN,"1,114,729,744"
4567,Kentucky,"949,124,657",NaN,"1,097,466,524",NaN,"1,236,706,200",NaN,"1,360,229,743",NaN,"1,499,444,374",NaN,"1,499,200,583",NaN,"1,624,990,570",NaN,"1,739,805,781"
4568,Louisiana,"1,336,661,483",NaN,"1,454,436,369",NaN,"1,658,234,909",NaN,"1,717,280,472",NaN,"1,673,063,069",NaN,"1,660,398,638",NaN,"1,671,183,286",NaN,"1,734,100,593"
4569,Maine,"327,987,375",NaN,"371,144,771",NaN,"402,203,249",NaN,"423,214,886",NaN,"418,711,062",NaN,"427,830,422",NaN,"447,461,242",NaN,"478,196,985"
4570,Maryland,"1,094,203,563",NaN,"1,248,475,008",NaN,"1,366,392,680",NaN,"1,505,190,669",NaN,"1,564,968,595",NaN,"1,573,459,095",NaN,"1,707,514,009",NaN,"1,914,689,258"
4571,Massachusetts,"1,908,834,439",NaN,"2,158,368,561",NaN,"2,388,397,776",NaN,"2,603,588,836",NaN,"2,670,561,086",NaN,"2,608,631,711",NaN,"2,791,876,591",NaN,"3,153,444,001"
4572,Michigan,"2,438,946,185",NaN,"2,853,382,957",NaN,"3,173,344,267",NaN,"3,454,672,680",NaN,"3,612,333,060",NaN,"3,734,005,600",NaN,"4,194,823,730",NaN,"4,795,022,745"
4573,Minnesota,"1,266,655,860",NaN,"1,491,617,009",NaN,"1,754,990,277",NaN,"1,939,365,014",NaN,"2,133,466,102",NaN,"2,322,627,249",NaN,"2,720,416,368",NaN,"2,973,502,580"
4574,Mississippi,"810,714,107",NaN,"914,917,630",NaN,"1,030,626,853",NaN,"1,103,081,748",NaN,"1,154,835,325",NaN,"1,120,054,323",NaN,"1,235,401,454",NaN,"1,302,401,255"
4575,Missouri,"1,593,065,077",NaN,"1,825,224,666",NaN,"2,061,996,961",NaN,"2,258,962,812",NaN,"2,356,116,918",NaN,"2,455,501,942",NaN,"2,510,828,590",NaN,"2,659,692,755"
4576,Montana,"298,360,532",NaN,"337,784,625",NaN,"369,708,627",NaN,"376,050,552",NaN,"375,974,288",NaN,"373,357,573",NaN,"377,637,341",NaN,"390,295,347"
4577,Nebraska,"498,722,144",NaN,"561,372,404",NaN,"637,057,108",NaN,"703,859,098",NaN,"703,224,866",NaN,"708,693,051",NaN,"750,456,923",NaN,"811,008,586"
4578,Nevada,"259,985,925",NaN,"315,850,518",NaN,"363,882,348",NaN,"400,225,384",NaN,"447,480,692",NaN,"452,284,897",NaN,"548,856,691",NaN,"604,407,232"
4579,New Hampshire,"326,084,388",NaN,"379,199,766",NaN,"408,411,200",NaN,"423,650,638",NaN,"432,014,135",NaN,"438,087,063",NaN,"479,709,024",NaN,"505,989,489"
4580,New Jersey,"1,568,266,890",NaN,"1,788,556,522",NaN,"1,906,148,101",NaN,"2,148,413,429",NaN,"2,223,697,671",NaN,"2,122,576,555",NaN,"2,302,794,768",NaN,"2,569,965,494"
4581,New Mexico,"530,066,506",NaN,"609,110,771",NaN,"684,817,087",NaN,"735,023,519",NaN,"747,461,489",NaN,"732,575,554",NaN,"737,216,000",NaN,"784,943,743"
4582,New York,"6,011,667,167",NaN,"6,856,280,172",NaN,"7,590,280,856",NaN,"8,106,090,202",NaN,"8,153,308,555",NaN,"8,196,631,641",NaN,"8,514,733,210",NaN,"9,170,530,970"
4583,North Carolina,"1,641,764,159",NaN,"1,942,521,331",NaN,"2,219,887,909",NaN,"2,315,149,754",NaN,"2,468,879,245",NaN,"2,535,976,395",NaN,"2,712,595,650",NaN,"2,987,459,791"
4584,North Dakota,"258,845,309",NaN,"293,462,900",NaN,"318,814,767",NaN,"323,609,847",NaN,"340,069,374",NaN,"350,723,567",NaN,"338,478,195",NaN,"347,491,310"
4585,Ohio,"2,954,518,787",NaN,"3,346,374,854",NaN,"3,829,932,878",NaN,"3,919,276,071",NaN,"4,034,554,557",NaN,"4,122,599,532",NaN,"4,439,000,194",NaN,"4,977,033,577"
4586,Oklahoma,"961,098,433",NaN,"1,129,165,230",NaN,"1,250,970,587",NaN,"1,334,923,300",NaN,"1,383,106,457",NaN,"1,358,397,668",NaN,"1,369,915,637",NaN,"1,460,048,450"
4587,Oregon,"911,681,573",NaN,"1,045,914,343",NaN,"1,188,324,467",NaN,"1,318,760,448",NaN,"1,307,882,154",NaN,"1,295,029,955",NaN,"1,372,901,433",NaN,"1,570,400,632"
4588,Pennsylvania,"3,795,993,993",NaN,"4,218,203,051",NaN,"4,576,009,648",NaN,"4,740,816,851",NaN,"5,045,260,714",NaN,"5,294,647,339",NaN,"5,586,045,205",NaN,"5,782,155,092"
4589,Rhode Island,"401,957,614",NaN,"426,601,401",NaN,"500,204,883",NaN,"530,793,180",NaN,"579,074,776",NaN,"552,904,039",NaN,"607,021,205",NaN,"672,191,793"
4590,South Carolina,"922,375,423",NaN,"1,086,611,670",NaN,"1,240,482,040",NaN,"1,313,444,504",NaN,"1,325,000,535",NaN,"1,374,888,937",NaN,"1,486,225,056",NaN,"1,594,238,879"
4591,South Dakota,"296,723,889",NaN,"342,344,861",NaN,"373,160,375",NaN,"375,611,344",NaN,"404,652,702",NaN,"385,732,599",NaN,"401,770,417",NaN,"416,833,841"
4592,Tennessee,"1,326,565,262",NaN,"1,514,613,174",NaN,"1,705,965,593",NaN,"1,895,812,898",NaN,"1,930,731,025",NaN,"1,976,977,392",NaN,"2,132,145,240",NaN,"2,291,867,545"
4593,Texas,"4,760,220,857",NaN,"5,638,643,478",NaN,"6,541,541,039",NaN,"7,207,764,023",NaN,"7,652,047,983",NaN,"7,792,289,367",NaN,"7,953,251,577",NaN,"8,419,664,869"
4594,Utah,"510,599,570",NaN,"594,855,398",NaN,"674,510,076",NaN,"762,450,195",NaN,"763,993,683",NaN,"767,757,139",NaN,"807,844,965",NaN,"851,623,835"
4595,Vermont,"253,879,970",NaN,"276,976,033",NaN,"304,548,823",NaN,"318,894,589",NaN,"331,030,556",NaN,"348,958,046",NaN,"382,073,088",NaN,"392,882,308"
4596,Virginia,"1,564,714,192",NaN,"1,772,711,389",NaN,"1,952,288,975",NaN,"2,122,509,463",NaN,"2,343,361,290",NaN,"2,400,097,845",NaN,"2,668,430,091",NaN,"2,930,408,743"
4597,Washington,"1,253,035,444",NaN,"1,501,299,011",NaN,"1,663,743,593",NaN,"1,780,464,671",NaN,"1,790,296,779",NaN,"1,718,697,048",NaN,"1,775,557,207",NaN,"1,960,404,300"
4598,West Virginia,"520,774,265",NaN,"593,509,323",NaN,"677,382,817",NaN,"714,586,624",NaN,"724,741,052",NaN,"747,262,992",NaN,"813,660,993",NaN,"951,378,318"
4599,Wisconsin,"1,205,201,789",NaN,"1,357,291,868",NaN,"1,511,374,487",NaN,"1,613,726,426",NaN,"1,682,084,698",NaN,"1,695,229,913",NaN,"1,867,581,068",NaN,"1,995,660,623"
4600,Wyoming,"152,676,575",NaN,"182,179,355",NaN,"211,058,170",NaN,"258,093,648",NaN,"264,614,902",NaN,"247,839,567",NaN,"218,406,197",NaN,"224,783,405"

In [16]:
doe_2001_2008.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [17]:
doe_2001_2008 = doe_2001_2008.drop(columns=['Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 14'])

In [18]:
doe_2001_2008

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15
4550,Alabama,"1,205,096,441","1,387,975,241","1,584,581,070","1,672,101,861","1,677,873,818","1,658,852,571","1,774,144,162","1,986,869,436"
4551,Alaska,"227,988,480","260,180,178","280,079,667","299,103,691","304,062,005","301,221,949","305,996,184","318,560,716"
4552,Arizona,"1,990,909,460","2,520,137,525","3,103,945,066","4,312,713,049","4,678,691,268","5,024,773,228","5,864,572,510","6,375,493,472"
4553,Arkansas,"618,218,324","733,650,835","829,601,733","888,970,231","930,347,440","943,608,285","988,744,641","1,046,683,517"
4554,California,"7,895,473,833","9,092,121,808","9,928,105,199","10,825,485,264","11,080,946,384","11,259,250,170","11,912,567,291","12,912,570,108"
4555,Colorado,"1,061,188,114","1,238,777,106","1,416,997,560","1,665,593,582","1,823,869,012","1,906,039,380","2,029,026,695","2,200,548,161"
4556,Connecticut,"703,315,579","825,970,250","908,683,240","965,299,387","997,567,838","989,209,889","1,081,503,459","1,150,836,531"
4557,Delaware,"187,754,734","216,149,404","226,632,147","286,492,122","293,525,157","288,998,217","325,591,740","362,014,919"
4558,District of Columbia,"596,359,049","663,632,391","747,391,195","832,483,943","716,632,246","797,311,644","853,788,583","927,957,391"
4559,Florida,"3,622,745,422","4,124,966,740","4,631,097,940","5,181,788,479","5,701,576,524","5,805,917,256","6,267,422,115","6,744,987,114"
4560,Georgia,"1,973,334,617","2,313,606,367","2,618,655,949","3,047,639,805","3,279,800,371","3,385,081,272","3,511,477,352","3,907,401,173"
4561,Hawaii,"229,367,192","271,216,945","296,507,436","328,434,252","356,335,228","352,899,977","342,789,118","353,191,298"
4562,Idaho,"317,431,995","387,946,629","443,846,331","465,769,792","468,785,354","467,601,127","484,532,926","562,589,289"
4563,Illinois,"3,128,505,463","3,787,395,383","4,402,319,739","4,949,209,265","4,728,937,533","4,879,526,580","5,255,753,298","5,813,116,523"
4564,Indiana,"1,565,548,276","1,831,992,075","2,012,969,908","2,163,633,194","2,243,657,479","2,271,212,934","2,486,601,474","2,663,698,922"
4565,Iowa,"901,029,813","1,050,102,995","1,197,441,529","1,359,456,012","1,431,675,661","1,523,025,722","1,960,014,304","2,276,849,748"
4566,Kansas,"714,466,440","831,895,259","949,612,346","980,808,704","996,327,475","985,416,174","1,038,701,562","1,114,729,744"
4567,Kentucky,"949,124,657","1,097,466,524","1,236,706,200","1,360,229,743","1,499,444,374","1,499,200,583","1,624,990,570","1,739,805,781"
4568,Louisiana,"1,336,661,483","1,454,436,369","1,658,234,909","1,717,280,472","1,673,063,069","1,660,398,638","1,671,183,286","1,734,100,593"
4569,Maine,"327,987,375","371,144,771","402,203,249","423,214,886","418,711,062","427,830,422","447,461,242","478,196,985"
4570,Maryland,"1,094,203,563","1,248,475,008","1,366,392,680","1,505,190,669","1,564,968,595","1,573,459,095","1,707,514,009","1,914,689,258"
4571,Massachusetts,"1,908,834,439","2,158,368,561","2,388,397,776","2,603,588,836","2,670,561,086","2,608,631,711","2,791,876,591","3,153,444,001"
4572,Michigan,"2,438,946,185","2,853,382,957","3,173,344,267","3,454,672,680","3,612,333,060","3,734,005,600","4,194,823,730","4,795,022,745"
4573,Minnesota,"1,266,655,860","1,491,617,009","1,754,990,277","1,939,365,014","2,133,466,102","2,322,627,249","2,720,416,368","2,973,502,580"
4574,Mississippi,"810,714,107","914,917,630","1,030,626,853","1,103,081,748","1,154,835,325","1,120,054,323","1,235,401,454","1,302,401,255"
4575,Missouri,"1,593,065,077","1,825,224,666","2,061,996,961","2,258,962,812","2,356,116,918","2,455,501,942","2,510,828,590","2,659,692,755"
4576,Montana,"298,360,532","337,784,625","369,708,627","376,050,552","375,974,288","373,357,573","377,637,341","390,295,347"
4577,Nebraska,"498,722,144","561,372,404","637,057,108","703,859,098","703,224,866","708,693,051","750,456,923","811,008,586"
4578,Nevada,"259,985,925","315,850,518","363,882,348","400,225,384","447,480,692","452,284,897","548,856,691","604,407,232"
4579,New Hampshire,"326,084,388","379,199,766","408,411,200","423,650,638","432,014,135","438,087,063","479,709,024","505,989,489"
4580,New Jersey,"1,568,266,890","1,788,556,522","1,906,148,101","2,148,413,429","2,223,697,671","2,122,576,555","2,302,794,768","2,569,965,494"
4581,New Mexico,"530,066,506","609,110,771","684,817,087","735,023,519","747,461,489","732,575,554","737,216,000","784,943,743"
4582,New York,"6,011,667,167","6,856,280,172","7,590,280,856","8,106,090,202","8,153,308,555","8,196,631,641","8,514,733,210","9,170,530,970"
4583,North Carolina,"1,641,764,159","1,942,521,331","2,219,887,909","2,315,149,754","2,468,879,245","2,535,976,395","2,712,595,650","2,987,459,791"
4584,North Dakota,"258,845,309","293,462,900","318,814,767","323,609,847","340,069,374","350,723,567","338,478,195","347,491,310"
4585,Ohio,"2,954,518,787","3,346,374,854","3,829,932,878","3,919,276,071","4,034,554,557","4,122,599,532","4,439,000,194","4,977,033,577"
4586,Oklahoma,"961,098,433","1,129,165,230","1,250,970,587","1,334,923,300","1,383,106,457","1,358,397,668","1,369,915,637","1,460,048,450"
4587,Oregon,"911,681,573","1,045,914,343","1,188,324,467","1,318,760,448","1,307,882,154","1,295,029,955","1,372,901,433","1,570,400,632"
4588,Pennsylvania,"3,795,993,993","4,218,203,051","4,576,009,648","4,740,816,851","5,045,260,714","5,294,647,339","5,586,045,205","5,782,155,092"
4589,Rhode Island,"401,957,614","426,601,401","500,204,883","530,793,180","579,074,776","552,904,039","607,021,205","672,191,793"
4590,South Carolina,"922,375,423","1,086,611,670","1,240,482,040","1,313,444,504","1,325,000,535","1,374,888,937","1,486,225,056","1,594,238,879"
4591,South Dakota,"296,723,889","342,344,861","373,160,375","375,611,344","404,652,702","385,732,599","401,770,417","416,833,841"
4592,Tennessee,"1,326,565,262","1,514,613,174","1,705,965,593","1,895,812,898","1,930,731,025","1,976,977,392","2,132,145,240","2,291,867,545"
4593,Texas,"4,760,220,857","5,638,643,478","6,541,541,039","7,207,764,023","7,652,047,983","7,792,289,367","7,953,251,577","8,419,664,869"
4594,Utah,"510,599,570","594,855,398","674,510,076","762,450,195","763,993,683","767,757,139","807,844,965","851,623,835"
4595,Vermont,"253,879,970","276,976,033","304,548,823","318,894,589","331,030,556","348,958,046","382,073,088","392,882,308"
4596,Virginia,"1,564,714,192","1,772,711,389","1,952,288,975","2,122,509,463","2,343,361,290","2,400,097,845","2,668,430,091","2,930,408,743"
4597,Washington,"1,253,035,444","1,501,299,011","1,663,743,593","1,780,464,671","1,790,296,779","1,718,697,048","1,775,557,207","1,960,404,300"
4598,West Virginia,"520,774,265","593,509,323","677,382,817","714,586,624","724,741,052","747,262,992","813,660,993","951,378,318"
4599,Wisconsin,"1,205,201,789","1,357,291,868","1,511,374,487","1,613,726,426","1,682,084,698","1,695,229,913","1,867,581,068","1,995,660,623"
4600,Wyoming,"152,676,575","182,179,355","211,058,170","258,093,648","264,614,902","247,839,567","218,406,197","224,783,405"

In [19]:
doe_2001_2008.columns = ["State or Other Area", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008"]

In [20]:
cols = ["2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008"]
doe_2001_2008[cols] = doe_2001_2008[cols].replace({",": ""}, regex=True).astype(int)

In [21]:
doe_2001_2008

,State or Other Area,2001,2002,2003,2004,2005,2006,2007,2008
4550,Alabama,1205096441,1387975241,1584581070,1672101861,1677873818,1658852571,1774144162,1986869436
4551,Alaska,227988480,260180178,280079667,299103691,304062005,301221949,305996184,318560716
4552,Arizona,1990909460,2520137525,3103945066,4312713049,4678691268,5024773228,5864572510,6375493472
4553,Arkansas,618218324,733650835,829601733,888970231,930347440,943608285,988744641,1046683517
4554,California,7895473833,9092121808,9928105199,10825485264,11080946384,11259250170,11912567291,12912570108
4555,Colorado,1061188114,1238777106,1416997560,1665593582,1823869012,1906039380,2029026695,2200548161
4556,Connecticut,703315579,825970250,908683240,965299387,997567838,989209889,1081503459,1150836531
4557,Delaware,187754734,216149404,226632147,286492122,293525157,288998217,325591740,362014919
4558,District of Columbia,596359049,663632391,747391195,832483943,716632246,797311644,853788583,927957391
4559,Florida,3622745422,4124966740,4631097940,5181788479,5701576524,5805917256,6267422115,6744987114
4560,Georgia,1973334617,2313606367,2618655949,3047639805,3279800371,3385081272,3511477352,3907401173
4561,Hawaii,229367192,271216945,296507436,328434252,356335228,352899977,342789118,353191298
4562,Idaho,317431995,387946629,443846331,465769792,468785354,467601127,484532926,562589289
4563,Illinois,3128505463,3787395383,4402319739,4949209265,4728937533,4879526580,5255753298,5813116523
4564,Indiana,1565548276,1831992075,2012969908,2163633194,2243657479,2271212934,2486601474,2663698922
4565,Iowa,901029813,1050102995,1197441529,1359456012,1431675661,1523025722,1960014304,2276849748
4566,Kansas,714466440,831895259,949612346,980808704,996327475,985416174,1038701562,1114729744
4567,Kentucky,949124657,1097466524,1236706200,1360229743,1499444374,1499200583,1624990570,1739805781
4568,Louisiana,1336661483,1454436369,1658234909,1717280472,1673063069,1660398638,1671183286,1734100593
4569,Maine,327987375,371144771,402203249,423214886,418711062,427830422,447461242,478196985
4570,Maryland,1094203563,1248475008,1366392680,1505190669,1564968595,1573459095,1707514009,1914689258
4571,Massachusetts,1908834439,2158368561,2388397776,2603588836,2670561086,2608631711,2791876591,3153444001
4572,Michigan,2438946185,2853382957,3173344267,3454672680,3612333060,3734005600,4194823730,4795022745
4573,Minnesota,1266655860,1491617009,1754990277,1939365014,2133466102,2322627249,2720416368,2973502580
4574,Mississippi,810714107,914917630,1030626853,1103081748,1154835325,1120054323,1235401454,1302401255
4575,Missouri,1593065077,1825224666,2061996961,2258962812,2356116918,2455501942,2510828590,2659692755
4576,Montana,298360532,337784625,369708627,376050552,375974288,373357573,377637341,390295347
4577,Nebraska,498722144,561372404,637057108,703859098,703224866,708693051,750456923,811008586
4578,Nevada,259985925,315850518,363882348,400225384,447480692,452284897,548856691,604407232
4579,New Hampshire,326084388,379199766,408411200,423650638,432014135,438087063,479709024,505989489
4580,New Jersey,1568266890,1788556522,1906148101,2148413429,2223697671,2122576555,2302794768,2569965494
4581,New Mexico,530066506,609110771,684817087,735023519,747461489,732575554,737216000,784943743
4582,New York,6011667167,6856280172,7590280856,8106090202,8153308555,8196631641,8514733210,9170530970
4583,North Carolina,1641764159,1942521331,2219887909,2315149754,2468879245,2535976395,2712595650,2987459791
4584,North Dakota,258845309,293462900,318814767,323609847,340069374,350723567,338478195,347491310
4585,Ohio,2954518787,3346374854,3829932878,3919276071,4034554557,4122599532,4439000194,4977033577
4586,Oklahoma,961098433,1129165230,1250970587,1334923300,1383106457,1358397668,1369915637,1460048450
4587,Oregon,911681573,1045914343,1188324467,1318760448,1307882154,1295029955,1372901433,1570400632
4588,Pennsylvania,3795993993,4218203051,4576009648,4740816851,5045260714,5294647339,5586045205,5782155092
4589,Rhode Island,401957614,426601401,500204883,530793180,579074776,552904039,607021205,672191793
4590,South Carolina,922375423,1086611670,1240482040,1313444504,1325000535,1374888937,1486225056,1594238879
4591,South Dakota,296723889,342344861,373160375,375611344,404652702,385732599,401770417,416833841
4592,Tennessee,1326565262,1514613174,1705965593,1895812898,1930731025,1976977392,2132145240,2291867545
4593,Texas,4760220857,5638643478,6541541039,7207764023,7652047983,7792289367,7953251577,8419664869
4594,Utah,510599570,594855398,674510076,762450195,763993683,767757139,807844965,851623835
4595,Vermont,253879970,276976033,304548823,318894589,331030556,348958046,382073088,392882308
4596,Virginia,1564714192,1772711389,1952288975,2122509463,2343361290,2400097845,2668430091,2930408743
4597,Washington,1253035444,1501299011,1663743593,1780464671,1790296779,1718697048,1775557207,1960404300
4598,West Virginia,520774265,593509323,677382817,714586624,724741052,747262992,813660993,951378318
4599,Wisconsin,1205201789,1357291868,1511374487,1613726426,1682084698,1695229913,1867581068,1995660623
4600,Wyoming,152676575,182179355,211058170,258093648,264614902,247839567,218406197,224783405

In [22]:
doe_2009 = pd.read_csv('../data/doe_2009.csv', encoding="cp1252") 
doe_2009 = doe_2009.reset_index(drop=True)

In [23]:
doe_2009 = doe_2009.iloc[4046:4097, 0:4]

In [24]:
doe_2009 = doe_2009.drop(columns=['Unnamed: 1', 'Unnamed: 2'])

In [25]:
doe_2009.columns = ["State or Other Area", "2009"]
doe_2009["2009"] = doe_2009["2009"].str.replace(",", "").astype(int)

In [26]:
doe_2009

       State or Other Area         2009
4046               Alabama   2472093599
4047                Alaska    347373460
4048               Arizona   8052788118
4049              Arkansas   1303196239
4050            California  15405843838
4051              Colorado   2742721576
4052           Connecticut   1385394654
4053              Delaware    433831127
4054  District of Columbia   1141626723
4055               Florida   8511101401
4056               Georgia   4948357555
4057                Hawaii    413389206
4058                 Idaho    690659433
4059              Illinois   7161797553
4060               Indiana   3279151830
4061                  Iowa   2875339160
4062                Kansas   1363485196
4063              Kentucky   2146866189
4064             Louisiana   2077358089
4065                 Maine    574159257
4066              Maryland   2311199243
4067         Massachusetts   3807861860
4068              Michigan   5877161081
4069             Minnesota   3663969867
4070           Mississippi   1614185247
4071              Missouri   3263793460
4072               Montana    461530281
4073              Nebraska    980032361
4074                Nevada    723369568
4075         New Hampshire    609220584
4076            New Jersey   3091574879
4077            New Mexico    941453980
4078              New York  11195739164
4079        North Carolina   3602896422
4080          North Dakota    416121395
4081                  Ohio   6122090824
4082              Oklahoma   1780419971
4083                Oregon   1915730776
4084          Pennsylvania   6974433059
4085          Rhode Island    812846792
4086        South Carolina   1941556167
4087          South Dakota    498546324
4088             Tennessee   2855106853
4089                 Texas  10165239532
4090                  Utah   1079681039
4091               Vermont    471165767
4092              Virginia   3586989308
4093            Washington   2364080505
4094         West Virginia   1143885467
4095             Wisconsin   2414288906
4096               Wyoming    266421147

In [27]:
doe_2010 = pd.read_csv('../data/doe_2010.csv', encoding="cp1252") 
doe_2010 = doe_2010.reset_index(drop=True)

In [28]:
doe_2010 = doe_2010.iloc[3827:3878, 0:2]

In [29]:
doe_2010.columns = ["State or Other Area", "2010"]
doe_2010["2010"] = doe_2010["2010"].str.replace(",", "").astype(int)

In [30]:
doe_2010

       State or Other Area         2010
3827               Alabama   3061491531
3828                Alaska    427620917
3829               Arizona  10181765748
3830              Arkansas   1542976136
3831            California  18401548959
3832              Colorado   3383144560
3833           Connecticut   1685550603
3834              Delaware    529740270
3835  District of Columbia   1691927261
3836               Florida  10463075106
3837               Georgia   6605891175
3838                Hawaii    531380064
3839                 Idaho    835840129
3840              Illinois   9151542441
3841               Indiana   4430351597
3842                  Iowa   4200960740
3843                Kansas   1639412701
3844              Kentucky   2562570757
3845             Louisiana   2335545319
3846                 Maine    699844637
3847              Maryland   2751359220
3848         Massachusetts   4216387369
3849              Michigan   6717055728
3850             Minnesota   4608090142
3851           Mississippi   1838020864
3852              Missouri   3968124334
3853               Montana    555874104
3854              Nebraska   1096751911
3855                Nevada    892655777
3856         New Hampshire    735167199
3857            New Jersey   3493151505
3858            New Mexico   1120863622
3859              New York  12795002410
3860        North Carolina   4424904921
3861          North Dakota    458969833
3862                  Ohio   7605066447
3863              Oklahoma   1961296841
3864                Oregon   2359873142
3865          Pennsylvania   8439063999
3866          Rhode Island    807647788
3867        South Carolina   2525717314
3868          South Dakota    598234609
3869             Tennessee   3473788990
3870                 Texas  12354590579
3871                  Utah   1622124306
3872               Vermont    504029603
3873              Virginia   4487279644
3874            Washington   2842846380
3875         West Virginia   1336927078
3876             Wisconsin   2915774858
3877               Wyoming    272369091

In [31]:
doe_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 3827 to 3877
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State or Other Area  51 non-null     object
 1   2010                 51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 948.0+ bytes

In [32]:
doe_2011 = pd.read_csv('../data/doe_2011.csv', encoding="cp1252") 
doe_2011 = doe_2011.reset_index(drop=True)

In [33]:
doe_2011 = doe_2011.iloc[2748:2799, 0:2]

In [34]:
doe_2011.columns = ["State or Other Area", "2011"]
doe_2011["2011"] = doe_2011["2011"].str.replace(",", "").astype(int)

In [35]:
doe_2011

       State or Other Area         2011
2748               Alabama   2879238226
2749                Alaska    439835771
2750               Arizona   8998281669
2751              Arkansas   1460922257
2752            California  17284116871
2753              Colorado   3292972713
2754           Connecticut   1646164336
2755              Delaware    425976002
2756  District of Columbia   2026483134
2757               Florida  10371606989
2758               Georgia   5480540149
2759                Hawaii    524570628
2760                 Idaho    850625018
2761              Illinois   9240377997
2762               Indiana   4713456128
2763                  Iowa   4109414059
2764                Kansas   1573721244
2765              Kentucky   2507020977
2766             Louisiana   2270917150
2767                 Maine    697328857
2768              Maryland   2600882405
2769         Massachusetts   4134724107
2770              Michigan   6290928523
2771             Minnesota   4585013228
2772           Mississippi   1696324100
2773              Missouri   3814949689
2774               Montana    550442265
2775              Nebraska   1123544237
2776                Nevada    812512833
2777         New Hampshire    737241055
2778            New Jersey   3302515883
2779            New Mexico   1045447263
2780              New York  11988354949
2781        North Carolina   4322845061
2782          North Dakota    436316717
2783                  Ohio   7040748173
2784              Oklahoma   1914987912
2785                Oregon   2332033006
2786          Pennsylvania   8203593197
2787          Rhode Island    832176445
2788        South Carolina   2337037906
2789          South Dakota    665308184
2790             Tennessee   3386508074
2791                 Texas  11815683237
2792                  Utah   1712850037
2793               Vermont    499797463
2794              Virginia   4233269654
2795            Washington   2587085704
2796         West Virginia   1365050781
2797             Wisconsin   2820795506
2798               Wyoming    270636459

In [36]:
doe_2012 = pd.read_csv('../data/doe_2012.csv', encoding="cp1252") 
doe_2012 = doe_2012.reset_index(drop=True)

In [37]:
doe_2012 = doe_2012.iloc[2709:2760, 0:2]

In [38]:
doe_2012.columns = ["State or Other Area", "2012"]
doe_2012["2012"] = doe_2012["2012"].str.replace(",", "").astype(int)

In [39]:
doe_2012

       State or Other Area         2012
2709               Alabama   2845395628
2710                Alaska    449975869
2711               Arizona   8049933183
2712              Arkansas   1423047882
2713            California  17137369513
2714              Colorado   3115240593
2715           Connecticut   1673317098
2716              Delaware    494678457
2717  District of Columbia   1825907540
2718               Florida  10068664972
2719               Georgia   5345573841
2720                Hawaii    520666928
2721                 Idaho    792902932
2722              Illinois   8390437386
2723               Indiana   4437703286
2724                  Iowa   3683386019
2725                Kansas   1557412486
2726              Kentucky   2440586319
2727             Louisiana   2220310520
2728                 Maine    679876882
2729              Maryland   2581620571
2730         Massachusetts   4057859325
2731              Michigan   5892658739
2732             Minnesota   4392237490
2733           Mississippi   1601197093
2734              Missouri   3650398864
2735               Montana    526373849
2736              Nebraska   1105804365
2737                Nevada    834048116
2738         New Hampshire    797824074
2739            New Jersey   3410786975
2740            New Mexico   1049091733
2741              New York  11550363892
2742        North Carolina   4427025603
2743          North Dakota    411828518
2744                  Ohio   6821503103
2745              Oklahoma   1856540268
2746                Oregon   2473067614
2747          Pennsylvania   8052982205
2748          Rhode Island    787174803
2749        South Carolina   2360832191
2750          South Dakota    639690215
2751             Tennessee   3230058477
2752                 Texas  11391287359
2753                  Utah   1693977412
2754               Vermont    488582962
2755              Virginia   4451049573
2756            Washington   2629036501
2757         West Virginia   1360155267
2758             Wisconsin   2786527176
2759               Wyoming    248120440

In [40]:
doe_2013 = pd.read_csv('../data/doe_2013.csv', encoding="cp1252") 
doe_2013 = doe_2013.reset_index(drop=True)

In [41]:
doe_2013 = doe_2013.iloc[2785:2836, 0:2]

In [42]:
doe_2013.columns = ["State or Other Area", "2013"]
doe_2013["2013"] = doe_2013["2013"].str.replace(",", "").astype(int)

In [43]:
doe_2013

       State or Other Area         2013
2785               Alabama   2883319880
2786                Alaska    443908978
2787               Arizona   8189692878
2788              Arkansas   1412106992
2789            California  15768503224
2790              Colorado   3062212570
2791           Connecticut   1579567773
2792              Delaware    502047740
2793  District of Columbia   1861968103
2794               Florida  10071335584
2795               Georgia   5245788392
2796                Hawaii    509054102
2797                 Idaho    759674747
2798              Illinois   7839065368
2799               Indiana   4205383182
2800                  Iowa   3960865384
2801                Kansas   1513568780
2802              Kentucky   2438921454
2803             Louisiana   2216834661
2804                 Maine    657303871
2805              Maryland   2509739948
2806         Massachusetts   3827930586
2807              Michigan   5851569062
2808             Minnesota   4584980155
2809           Mississippi   1654276503
2810              Missouri   3654208980
2811               Montana    500145704
2812              Nebraska   1052268653
2813                Nevada    817172094
2814         New Hampshire    924434873
2815            New Jersey   3321638019
2816            New Mexico   1051517078
2817              New York  10311931101
2818        North Carolina   4255606957
2819          North Dakota    421661584
2820                  Ohio   6421237916
2821              Oklahoma   1778587183
2822                Oregon   2296863708
2823          Pennsylvania   7367054550
2824          Rhode Island    649316889
2825        South Carolina   2289810378
2826          South Dakota    649529202
2827             Tennessee   3132834993
2828                 Texas  11311390683
2829                  Utah   1717424604
2830               Vermont    393893570
2831              Virginia   4671895920
2832            Washington   2477981796
2833         West Virginia   1398937899
2834             Wisconsin   2756437232
2835               Wyoming    246150078

In [44]:
doe_2014 = pd.read_csv('../data/doe_2014.csv', encoding="cp1252") 
doe_2014 = doe_2014.reset_index(drop=True)

In [45]:
doe_2014 = doe_2014.iloc[2401:2452, 0:2]

In [46]:
doe_2014.columns = ["State or Other Area", "2014"]
doe_2014["2014"] = doe_2014["2014"].str.replace(",", "").astype(int)

In [47]:
doe_2014

       State or Other Area         2014
2401               Alabama   2875991324
2402                Alaska    425276011
2403               Arizona   7477469186
2404              Arkansas   1405013760
2405            California  16816137363
2406              Colorado   2965284074
2407           Connecticut   1656657510
2408              Delaware    494499654
2409  District of Columbia   1781215703
2410               Florida   9992845894
2411               Georgia   5183160670
2412                Hawaii    494017469
2413                 Idaho    743821754
2414              Illinois   7649445916
2415               Indiana   4187494655
2416                  Iowa   2775868884
2417                Kansas   1611277229
2418              Kentucky   2346257238
2419             Louisiana   2240881517
2420                 Maine    705625906
2421              Maryland   2561599476
2422         Massachusetts   3890410364
2423              Michigan   5755325242
2424             Minnesota   4593669240
2425           Mississippi   1560533444
2426              Missouri   3573389123
2427               Montana    473923372
2428              Nebraska   1039436982
2429                Nevada    902732832
2430         New Hampshire   1210270110
2431            New Jersey   3356473984
2432            New Mexico    964642121
2433              New York  10508839360
2434        North Carolina   4317675175
2435          North Dakota    414318107
2436                  Ohio   6152376231
2437              Oklahoma   1743623228
2438                Oregon   2283322909
2439          Pennsylvania   7320042265
2440          Rhode Island    684170148
2441        South Carolina   2293325823
2442          South Dakota    628689492
2443             Tennessee   3124759155
2444                 Texas  11254325647
2445                  Utah   1705293430
2446               Vermont    394996828
2447              Virginia   5108238382
2448            Washington   2525362924
2449         West Virginia   1325717807
2450             Wisconsin   2737880766
2451               Wyoming    239440159

In [48]:
doe_2015 = pd.read_csv('../data/doe_2015.csv', encoding="cp1252") 
doe_2015 = doe_2015.reset_index(drop=True)

In [49]:
doe_2015 = doe_2015.iloc[2326:2377, 0:2]

In [50]:
doe_2015.columns = ["State or Other Area", "2015"]
doe_2015["2015"] = doe_2015["2015"].str.replace(",", "").astype(int)

In [51]:
doe_2015

       State or Other Area         2015
2326               Alabama   2729781358
2327                Alaska    415238724
2328               Arizona   6241051368
2329              Arkansas   1334963163
2330            California  16727837255
2331              Colorado   2780371880
2332           Connecticut   1711664971
2333              Delaware    407209807
2334  District of Columbia   1667518726
2335               Florida   8838564032
2336               Georgia   5116975414
2337                Hawaii    451957657
2338                 Idaho    679872934
2339              Illinois   7469049674
2340               Indiana   3883891185
2341                  Iowa   2421686820
2342                Kansas   1499228798
2343              Kentucky   2157474471
2344             Louisiana   2176484426
2345                 Maine    657899841
2346              Maryland   2418090781
2347         Massachusetts   3951763992
2348              Michigan   5170171423
2349             Minnesota   4177354624
2350           Mississippi   1526910147
2351              Missouri   3294846788
2352               Montana    462528448
2353              Nebraska   1003334932
2354                Nevada    817331435
2355         New Hampshire   1061917977
2356            New Jersey   3221345476
2357            New Mexico    870397778
2358              New York  11060800392
2359        North Carolina   4234028617
2360          North Dakota    371500996
2361                  Ohio   5656542207
2362              Oklahoma   1672978363
2363                Oregon   2174406328
2364          Pennsylvania   7516987147
2365          Rhode Island    733435118
2366        South Carolina   2202213757
2367          South Dakota    589893533
2368             Tennessee   3003457777
2369                 Texas  10716225910
2370                  Utah   1549237437
2371               Vermont    442921894
2372              Virginia   4286211235
2373            Washington   2506549880
2374         West Virginia   1259501298
2375             Wisconsin   2513800854
2376               Wyoming    223082544

In [52]:
doe_2016 = pd.read_csv('../data/doe_2016.csv', encoding="cp1252") 
doe_2016 = doe_2016.reset_index(drop=True)

In [53]:
doe_2016 = doe_2016.iloc[2401:2452, 0:4]

In [54]:
doe_2016

                Unnamed: 0      Unnamed: 1      Unnamed: 2      Unnamed: 3
2401               Alabama   2,875,991,324   2,929,283,305   3,053,932,288
2402                Alaska     425,276,011     445,792,878     456,635,005
2403               Arizona   7,477,469,186   7,641,077,155   7,981,741,082
2404              Arkansas   1,405,013,760   1,419,774,860   1,464,872,811
2405            California  16,816,137,363  17,088,237,034  17,803,268,621
2406              Colorado   2,965,284,074   3,027,497,764   3,158,166,524
2407           Connecticut   1,656,657,510   1,689,404,269   1,751,745,595
2408              Delaware     494,499,654     502,781,642     521,825,598
2409  District of Columbia   1,781,215,703   1,832,837,904   1,923,544,302
2410               Florida   9,992,845,894  10,166,202,212  10,623,522,908
2411               Georgia   5,183,160,670   5,284,301,567   5,540,462,845
2412                Hawaii     494,017,469     499,998,285     517,621,125
2413                 Idaho     743,821,754     753,192,367     782,420,357
2414              Illinois   7,649,445,916   7,817,166,464   8,170,869,666
2415               Indiana   4,187,494,655   4,259,796,966   4,449,701,053
2416                  Iowa   2,775,868,884   2,848,005,895   2,975,816,717
2417                Kansas   1,611,277,229   1,632,552,541   1,716,917,605
2418              Kentucky   2,346,257,238   2,376,680,514   2,480,188,340
2419             Louisiana   2,240,881,517   2,268,285,682   2,384,286,206
2420                 Maine     705,625,906     714,342,421     742,226,992
2421              Maryland   2,561,599,476   2,601,772,067   2,718,937,482
2422         Massachusetts   3,890,410,364   3,997,172,514   4,167,295,567
2423              Michigan   5,755,325,242   5,844,678,221   6,080,750,602
2424             Minnesota   4,593,669,240   4,719,373,275   4,938,837,193
2425           Mississippi   1,560,533,444   1,587,956,072   1,650,014,134
2426              Missouri   3,573,389,123   3,653,491,605   3,812,051,414
2427               Montana     473,923,372     484,519,932     500,855,492
2428              Nebraska   1,039,436,982   1,059,734,863   1,102,327,281
2429                Nevada     902,732,832     915,723,042     968,043,653
2430         New Hampshire   1,210,270,110   1,236,165,729   1,293,321,749
2431            New Jersey   3,356,473,984   3,441,105,084   3,582,704,741
2432            New Mexico     964,642,121     992,559,825   1,032,326,086
2433              New York  10,508,839,360  10,740,841,481  11,218,667,576
2434        North Carolina   4,317,675,175   4,396,051,806   4,578,311,630
2435          North Dakota     414,318,107     423,625,072     442,238,192
2436                  Ohio   6,152,376,231   6,250,979,655   6,533,633,478
2437              Oklahoma   1,743,623,228   1,776,575,394   1,843,720,846
2438                Oregon   2,283,322,909   2,321,534,742   2,408,479,897
2439          Pennsylvania   7,320,042,265   7,469,394,935   7,789,574,306
2440          Rhode Island     684,170,148     695,365,859     719,375,958
2441        South Carolina   2,293,325,823   2,344,906,118   2,446,631,330
2442          South Dakota     628,689,492     646,418,590     672,035,159
2443             Tennessee   3,124,759,155   3,174,775,140   3,327,837,520
2444                 Texas  11,254,325,647  11,429,361,489  11,904,115,213
2445                  Utah   1,705,293,430   1,734,188,986   1,796,028,865
2446               Vermont     394,996,828     400,805,438     412,206,831
2447              Virginia   5,108,238,382   5,245,095,386   5,471,429,814
2448            Washington   2,525,362,924   2,587,446,888   2,694,008,709
2449         West Virginia   1,325,717,807   1,353,456,486   1,395,598,939
2450             Wisconsin   2,737,880,766   2,786,608,770   2,896,711,238
2451               Wyoming     239,440,159     241,880,738     252,445,432

In [55]:
doe_2016 = doe_2016.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
doe_2016.columns = ["State or Other Area", "2016"]

In [56]:
doe_2016["2016"] = doe_2016["2016"].str.replace(",", "").astype(int)

In [57]:
doe_2016

       State or Other Area         2016
2401               Alabama   3053932288
2402                Alaska    456635005
2403               Arizona   7981741082
2404              Arkansas   1464872811
2405            California  17803268621
2406              Colorado   3158166524
2407           Connecticut   1751745595
2408              Delaware    521825598
2409  District of Columbia   1923544302
2410               Florida  10623522908
2411               Georgia   5540462845
2412                Hawaii    517621125
2413                 Idaho    782420357
2414              Illinois   8170869666
2415               Indiana   4449701053
2416                  Iowa   2975816717
2417                Kansas   1716917605
2418              Kentucky   2480188340
2419             Louisiana   2384286206
2420                 Maine    742226992
2421              Maryland   2718937482
2422         Massachusetts   4167295567
2423              Michigan   6080750602
2424             Minnesota   4938837193
2425           Mississippi   1650014134
2426              Missouri   3812051414
2427               Montana    500855492
2428              Nebraska   1102327281
2429                Nevada    968043653
2430         New Hampshire   1293321749
2431            New Jersey   3582704741
2432            New Mexico   1032326086
2433              New York  11218667576
2434        North Carolina   4578311630
2435          North Dakota    442238192
2436                  Ohio   6533633478
2437              Oklahoma   1843720846
2438                Oregon   2408479897
2439          Pennsylvania   7789574306
2440          Rhode Island    719375958
2441        South Carolina   2446631330
2442          South Dakota    672035159
2443             Tennessee   3327837520
2444                 Texas  11904115213
2445                  Utah   1796028865
2446               Vermont    412206831
2447              Virginia   5471429814
2448            Washington   2694008709
2449         West Virginia   1395598939
2450             Wisconsin   2896711238
2451               Wyoming    252445432

In [58]:
doe_2017 = pd.read_csv('../data/doe_2017.csv', encoding="cp1252") 
doe_2017 = doe_2017.reset_index(drop=True)

In [59]:
doe_2017 = doe_2017.iloc[2180:2231, 0:2]

In [60]:
doe_2017.columns = ["State or Other Area", "2017"]
doe_2017["2017"] = doe_2017["2017"].str.replace(",", "").astype(int)

In [61]:
doe_2017

       State or Other Area         2017
2180               Alabama   2831684185
2181                Alaska    403601683
2182               Arizona   5077168472
2183              Arkansas   1376380456
2184            California  17084027581
2185              Colorado   2765702017
2186           Connecticut   1773331356
2187              Delaware    459555434
2188  District of Columbia   1754283321
2189               Florida   8794744245
2190               Georgia   5109231256
2191                Hawaii    468240244
2192                 Idaho    689728418
2193              Illinois   7170081651
2194               Indiana   3319401466
2195                  Iowa   2230980596
2196                Kansas   1486510033
2197              Kentucky   2209055707
2198             Louisiana   2328611993
2199                 Maine    689862463
2200              Maryland   2511350458
2201         Massachusetts   4117827769
2202              Michigan   5020924872
2203             Minnesota   3942624446
2204           Mississippi   1595376188
2205              Missouri   3274176259
2206               Montana    489940010
2207              Nebraska   1018198232
2208                Nevada    813339835
2209         New Hampshire   1307252727
2210            New Jersey   3426006491
2211            New Mexico    864148149
2212              New York  11454985934
2213        North Carolina   4355257718
2214          North Dakota    390821271
2215                  Ohio   5523290838
2216              Oklahoma   1745468226
2217                Oregon   1956703581
2218          Pennsylvania   7583396339
2219          Rhode Island    769185794
2220        South Carolina   2276562599
2221          South Dakota    575346282
2222             Tennessee   3092690181
2223                 Texas  11326225425
2224                  Utah   1657822174
2225               Vermont    448797739
2226              Virginia   4404295843
2227            Washington   2475003234
2228         West Virginia   1195333433
2229             Wisconsin   2443197825
2230               Wyoming    231855270

In [62]:
doe_2018 = pd.read_csv('../data/doe_2018.csv', dtype=str) 
doe_2018 = doe_2018.reset_index(drop=True)

In [63]:
doe_2018 = doe_2018.iloc[2150:2201, 0:2]

In [64]:
doe_2018.columns = ["State or Other Area", "2018"]
doe_2018["2018"] = doe_2018["2018"].str.replace(",", "").astype(int)

In [65]:
doe_2018

       State or Other Area         2018
2150               Alabama   2908765139
2151                Alaska    404828434
2152               Arizona   5080637675
2153              Arkansas   1401643324
2154            California  17516670303
2155              Colorado   2863430831
2156           Connecticut   1854947718
2157              Delaware    476592590
2158  District of Columbia   1853775976
2159               Florida   8940269535
2160               Georgia   5220842709
2161                Hawaii    457308984
2162                 Idaho    700226625
2163              Illinois   7196027858
2164               Indiana   3141193144
2165                  Iowa   2197721443
2166                Kansas   1497102093
2167              Kentucky   2270204083
2168             Louisiana   2489362542
2169                 Maine    700237650
2170              Maryland   2625009128
2171         Massachusetts   4227505004
2172              Michigan   4934435871
2173             Minnesota   3912815287
2174           Mississippi   1646055353
2175              Missouri   3305034872
2176               Montana    494879413
2177              Nebraska   1045790369
2178                Nevada    849872620
2179         New Hampshire   1227902365
2180            New Jersey   3503643365
2181            New Mexico    861734830
2182              New York  11583626064
2183        North Carolina   4473198043
2184          North Dakota    413089615
2185                  Ohio   5535034392
2186              Oklahoma   1902550377
2187                Oregon   1953628193
2188          Pennsylvania   7689615661
2189          Rhode Island    777178358
2190        South Carolina   2329416175
2191          South Dakota    575016768
2192             Tennessee   3117050293
2193                 Texas  11724170200
2194                  Utah   1823315647
2195               Vermont    458488633
2196              Virginia   4526294721
2197            Washington   2501109120
2198         West Virginia   1161520349
2199             Wisconsin   2461654557
2200               Wyoming    235790083

In [66]:
doe_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 2150 to 2200
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State or Other Area  51 non-null     object
 1   2018                 51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 948.0+ bytes

In [67]:
doe_2019 = pd.read_csv('../data/doe_2019.csv', dtype=str) 
doe_2019 = doe_2019.reset_index(drop=True)

In [68]:
doe_2019 = doe_2019.iloc[2116:2167, 0:2]

In [69]:
doe_2019.columns = ["State or Other Area", "2019"]
doe_2019["2019"] = doe_2019["2019"].str.replace(",", "").astype(int)

In [70]:
doe_2019

       State or Other Area         2019
2116               Alabama   2775338135
2117                Alaska    400523165
2118               Arizona   5143402498
2119              Arkansas   1350409184
2120            California  17212221075
2121              Colorado   2788049026
2122           Connecticut   1828889175
2123              Delaware    473804823
2124  District of Columbia   1838047295
2125               Florida   8753066640
2126               Georgia   5062246917
2127                Hawaii    449100414
2128                 Idaho    688908434
2129              Illinois   6657828557
2130               Indiana   3385141198
2131                  Iowa   1666660077
2132                Kansas   1439276872
2133              Kentucky   2208575378
2134             Louisiana   2513977136
2135                 Maine    672684725
2136              Maryland   2480450206
2137         Massachusetts   4052189459
2138              Michigan   4696645199
2139             Minnesota   3770573766
2140           Mississippi   1601803745
2141              Missouri   3148464544
2142               Montana    484861277
2143              Nebraska   1028414429
2144                Nevada    853245313
2145         New Hampshire   1338124989
2146            New Jersey   3447693060
2147            New Mexico    851116686
2148              New York  11323969827
2149        North Carolina   4320490529
2150          North Dakota    409069796
2151                  Ohio   5377536434
2152              Oklahoma   1852146940
2153                Oregon   1864317520
2154          Pennsylvania   7301398795
2155          Rhode Island    742469353
2156        South Carolina   2264532149
2157          South Dakota    546790777
2158             Tennessee   3009125001
2159                 Texas  11585891325
2160                  Utah   1910906004
2161               Vermont    439616180
2162              Virginia   4493669761
2163            Washington   2471252194
2164         West Virginia   1147837812
2165             Wisconsin   2371695509
2166               Wyoming    231368788

In [71]:
doe_2020 = pd.read_csv('../data/doe_2020.csv', encoding="cp1252") 
doe_2020 = doe_2020.reset_index(drop=True)

In [72]:
doe_2020 = doe_2020.iloc[2039:2090, 0:2]

In [73]:
doe_2020.columns = ["State or Other Area", "2020"]
doe_2020["2020"] = doe_2020["2020"].str.replace(",", "").astype(int)

In [74]:
doe_2020

       State or Other Area         2020
2039               Alabama   2691718594
2040                Alaska    400083225
2041               Arizona   5385850713
2042              Arkansas   1344545069
2043            California  17154169150
2044              Colorado   2766594671
2045           Connecticut   1849505887
2046              Delaware    467652439
2047  District of Columbia   1851544286
2048               Florida   8730468668
2049               Georgia   4941432116
2050                Hawaii    430882558
2051                 Idaho    669357358
2052              Illinois   6440730096
2053               Indiana   3280054276
2054                  Iowa   1620396195
2055                Kansas   1414294642
2056              Kentucky   2248698102
2057             Louisiana   2518798316
2058                 Maine    655599146
2059              Maryland   2425352727
2060         Massachusetts   3910887919
2061              Michigan   4526320444
2062             Minnesota   3686632418
2063           Mississippi   1541491783
2064              Missouri   3049455170
2065               Montana    471217377
2066              Nebraska   1007173491
2067                Nevada    850124531
2068         New Hampshire   1461315424
2069            New Jersey   3411844829
2070            New Mexico    832671300
2071              New York  11048816486
2072        North Carolina   4260350908
2073          North Dakota    415061406
2074                  Ohio   5198718613
2075              Oklahoma   1851067418
2076                Oregon   1773806155
2077          Pennsylvania   7052522693
2078          Rhode Island    723307960
2079        South Carolina   2234455037
2080          South Dakota    519053357
2081             Tennessee   2947122107
2082                 Texas  11522208466
2083                  Utah   1922132608
2084               Vermont    429439576
2085              Virginia   4497863794
2086            Washington   2385713525
2087         West Virginia   1097140733
2088             Wisconsin   2342179214
2089               Wyoming    234582457

In [75]:
doe_2021 = pd.read_csv('../data/doe_2021.csv', encoding="cp1252") 
doe_2021 = doe_2021.reset_index(drop=True)

In [76]:
doe_2021 = doe_2021.iloc[2125:2176, 0:2]
doe_2021.columns = ["State or Other Area", "2021"]

In [77]:
doe_2021["2021"] = doe_2021["2021"].str.replace(",", "").astype(int)

In [78]:
doe_2021

       State or Other Area         2021
2125               Alabama   2637187288
2126                Alaska    384569403
2127               Arizona   5423901031
2128              Arkansas   1320387586
2129            California  16960772229
2130              Colorado   2814490232
2131           Connecticut   1879316901
2132              Delaware    449853692
2133  District of Columbia   1722248421
2134               Florida   8833589122
2135               Georgia   4712308437
2136                Hawaii    439831763
2137                 Idaho    671464155
2138              Illinois   6723513048
2139               Indiana   3226664721
2140                  Iowa   1603492496
2141                Kansas   1383407700
2142              Kentucky   2248634277
2143             Louisiana   2594359483
2144                 Maine    641337830
2145              Maryland   2379171760
2146         Massachusetts   3883570968
2147              Michigan   4361465070
2148             Minnesota   3614185748
2149           Mississippi   1572997098
2150              Missouri   2981227335
2151               Montana    476882763
2152              Nebraska   1034759154
2153                Nevada    882135415
2154         New Hampshire   1208481588
2155            New Jersey   3332022123
2156            New Mexico    836974079
2157              New York  10726906378
2158        North Carolina   4262925346
2159          North Dakota    422470560
2160                  Ohio   5187758023
2161              Oklahoma   1755572816
2162                Oregon   1695574008
2163          Pennsylvania   6983994297
2164          Rhode Island    696779558
2165        South Carolina   2198475014
2166          South Dakota    509697577
2167             Tennessee   3160639128
2168                 Texas  11769142219
2169                  Utah   1972555846
2170               Vermont    412278121
2171              Virginia   4449177343
2172            Washington   2372066738
2173         West Virginia   1062458537
2174             Wisconsin   2279514524
2175               Wyoming    234707631

In [79]:
doe_2023 = pd.read_csv('../data/doe_2023.csv', encoding="cp1252") 
doe_2023 = doe_2023.reset_index(drop=True)

In [80]:
doe_2023 = doe_2023.iloc[2045:2096, 0:2]
doe_2023.columns = ["State or Other Area", "2023"]

In [81]:
doe_2023["2023"] = doe_2023["2023"].str.replace(",", "").astype(int)

In [82]:
doe_2023

       State or Other Area         2023
2045               Alabama   2755576286
2046                Alaska    410535971
2047               Arizona   5996044985
2048              Arkansas   1412157643
2049            California  18335315420
2050              Colorado   2918425104
2051           Connecticut   2054428182
2052              Delaware    471572288
2053  District of Columbia   1792962576
2054               Florida   9652436459
2055               Georgia   5324728170
2056                Hawaii    486685411
2057                 Idaho    688106682
2058              Illinois   6818848717
2059               Indiana   3340895914
2060                  Iowa   1659976682
2061                Kansas   1385123550
2062              Kentucky   2425330125
2063             Louisiana   2774696659
2064                 Maine    672443269
2065              Maryland   2576700698
2066         Massachusetts   4098651225
2067              Michigan   4502254531
2068             Minnesota   3580369872
2069           Mississippi   1592288396
2070              Missouri   3027823792
2071               Montana    496757925
2072              Nebraska   1069439338
2073                Nevada    961012299
2074         New Hampshire   1467368721
2075            New Jersey   3593370406
2076            New Mexico    865051925
2077              New York  11675266614
2078        North Carolina   4455400721
2079          North Dakota    446499435
2080                  Ohio   5253034935
2081              Oklahoma   1890355495
2082                Oregon   1763520807
2083          Pennsylvania   7273474790
2084          Rhode Island    724389379
2085        South Carolina   2307912321
2086          South Dakota    519172700
2087             Tennessee   3368495310
2088                 Texas  12613346451
2089                  Utah   2099674819
2090               Vermont    420254252
2091              Virginia   4777874170
2092            Washington   2412538569
2093         West Virginia   1066809875
2094             Wisconsin   2357405068
2095               Wyoming    261942548

In [83]:
doe_2024 = pd.read_csv('../data/doe_2024.csv', encoding="cp1252") 
doe_2024 = doe_2024.reset_index(drop=True)

In [84]:
doe_2024 = doe_2024.iloc[2177:2228, 0:4]

In [85]:
doe_2024 = doe_2024.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
doe_2024.columns = ["State or Other Area", "2024"]

In [86]:
doe_2024["2024"] = doe_2024["2024"].str.replace(",", "").astype(int)

In [87]:
doe_2024

       State or Other Area         2024
2177               Alabama   2893796761
2178                Alaska    422320136
2179               Arizona   6061044941
2180              Arkansas   1475060578
2181            California  19213766520
2182              Colorado   3096422836
2183           Connecticut   2110311601
2184              Delaware    492229874
2185  District of Columbia   1848658976
2186               Florida  10172141276
2187               Georgia   5672476375
2188                Hawaii    520892850
2189                 Idaho    763049912
2190              Illinois   7210320126
2191               Indiana   3567259908
2192                  Iowa   1732317591
2193                Kansas   1501726955
2194              Kentucky   2537307370
2195             Louisiana   2954698636
2196                 Maine    702871058
2197              Maryland   2774400136
2198         Massachusetts   4280369005
2199              Michigan   4747745469
2200             Minnesota   3751100934
2201           Mississippi   1736559050
2202              Missouri   3185729561
2203               Montana    529217635
2204              Nebraska   1113606725
2205                Nevada   1036097142
2206         New Hampshire   1565710412
2207            New Jersey   3857901931
2208            New Mexico    922891131
2209              New York  12306443392
2210        North Carolina   4805167195
2211          North Dakota    457550204
2212                  Ohio   5641891865
2213              Oklahoma   1963603662
2214                Oregon   1840744226
2215          Pennsylvania   7613208309
2216          Rhode Island    753843983
2217        South Carolina   2425207164
2218          South Dakota    551058426
2219             Tennessee   3531951110
2220                 Texas  13661497495
2221                  Utah   2216184396
2222               Vermont    435157499
2223              Virginia   4945926328
2224            Washington   2629297055
2225         West Virginia   1171148805
2226             Wisconsin   2505089591
2227               Wyoming    276703849

In [88]:
doe_2000 = pd.read_csv('../data/doe_2000.csv', encoding="cp1252") 
doe_2000 = doe_2000.reset_index(drop=True)

In [89]:
doe_2000 = doe_2000.iloc[3410:3461, 0:2]
doe_2000.columns = ["State or Other Area", "2000"]

In [90]:
doe_2000["2000"] = doe_2000["2000"].str.replace(",", "").astype(int)

In [91]:
doe_2000

       State or Other Area        2000
3410               Alabama   557767814
3411                Alaska   177881580
3412               Arizona   667976456
3413              Arkansas   328403457
3414            California  3792096590
3415              Colorado   370882855
3416           Connecticut   288895735
3417              Delaware    85735787
3418  District of Columbia   115040586
3419               Florida  1590311741
3420               Georgia   822536045
3421                Hawaii   132643273
3422                 Idaho   150011363
3423              Illinois  1272164392
3424               Indiana   588909058
3425                  Iowa   305590676
3426                Kansas   296011073
3427              Kentucky   501796366
3428             Louisiana   643637545
3429                 Maine   154133835
3430              Maryland   461461303
3431         Massachusetts   662761571
3432              Michigan  1105793304
3433             Minnesota   465781969
3434           Mississippi   448733274
3435              Missouri   597240071
3436               Montana   156536540
3437              Nebraska   189206074
3438                Nevada   127129727
3439         New Hampshire   114094562
3440            New Jersey   761924027
3441            New Mexico   332184647
3442              New York  2583256084
3443        North Carolina   753759804
3444          North Dakota   117810518
3445                  Ohio  1171953385
3446              Oklahoma   449407200
3447                Oregon   347636498
3448          Pennsylvania  1285504828
3449          Rhode Island   134418578
3450        South Carolina   443090828
3451          South Dakota   133366735
3452             Tennessee   583465744
3453                 Texas  2484215057
3454                  Utah   255609306
3455               Vermont    91491401
3456              Virginia   641092965
3457            Washington   569577741
3458         West Virginia   257981746
3459             Wisconsin   530100703
3460               Wyoming    86526320

In [92]:
dfs = [doe_2000, doe_2001_2008, doe_2009, doe_2010, doe_2011, doe_2012, doe_2013, doe_2014, doe_2015, doe_2016, doe_2017, doe_2018, doe_2019, doe_2020, doe_2021, doe_2022, doe_2023, doe_2024]

ed_merged_wide = pd.concat(
    [df.set_index("State or Other Area") for df in dfs], 
    axis=1
).reset_index()

In [93]:
ed_merged_wide

,State or Other Area,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Alabama,557767814,1205096441,1387975241,1584581070,1672101861,1677873818,1658852571,1774144162,1986869436,...,2729781358,3053932288,2831684185,2908765139,2775338135,2691718594,2637187288,2533745786,2755576286,2893796761
1,Alaska,177881580,227988480,260180178,280079667,299103691,304062005,301221949,305996184,318560716,...,415238724,456635005,403601683,404828434,400523165,400083225,384569403,377218230,410535971,422320136
2,Arizona,667976456,1990909460,2520137525,3103945066,4312713049,4678691268,5024773228,5864572510,6375493472,...,6241051368,7981741082,5077168472,5080637675,5143402498,5385850713,5423901031,5424202388,5996044985,6061044941
3,Arkansas,328403457,618218324,733650835,829601733,888970231,930347440,943608285,988744641,1046683517,...,1334963163,1464872811,1376380456,1401643324,1350409184,1344545069,1320387586,1266409261,1412157643,1475060578
4,California,3792096590,7895473833,9092121808,9928105199,10825485264,11080946384,11259250170,11912567291,12912570108,...,16727837255,17803268621,17084027581,17516670303,17212221075,17154169150,16960772229,16930897583,18335315420,19213766520
5,Colorado,370882855,1061188114,1238777106,1416997560,1665593582,1823869012,1906039380,2029026695,2200548161,...,2780371880,3158166524,2765702017,2863430831,2788049026,2766594671,2814490232,2749404367,2918425104,3096422836
6,Connecticut,288895735,703315579,825970250,908683240,965299387,997567838,989209889,1081503459,1150836531,...,1711664971,1751745595,1773331356,1854947718,1828889175,1849505887,1879316901,1892832278,2054428182,2110311601
7,Delaware,85735787,187754734,216149404,226632147,286492122,293525157,288998217,325591740,362014919,...,407209807,521825598,459555434,476592590,473804823,467652439,449853692,435583962,471572288,492229874
8,District of Columbia,115040586,596359049,663632391,747391195,832483943,716632246,797311644,853788583,927957391,...,1667518726,1923544302,1754283321,1853775976,1838047295,1851544286,1722248421,1697724130,1792962576,1848658976
9,Florida,1590311741,3622745422,4124966740,4631097940,5181788479,5701576524,5805917256,6267422115,6744987114,...,8838564032,10623522908,8794744245,8940269535,8753066640,8730468668,8833589122,8820475397,9652436459,10172141276
10,Georgia,822536045,1973334617,2313606367,2618655949,3047639805,3279800371,3385081272,3511477352,3907401173,...,5116975414,5540462845,5109231256,5220842709,5062246917,4941432116,4712308437,4910897525,5324728170,5672476375
11,Hawaii,132643273,229367192,271216945,296507436,328434252,356335228,352899977,342789118,353191298,...,451957657,517621125,468240244,457308984,449100414,430882558,439831763,438653415,486685411,520892850
12,Idaho,150011363,317431995,387946629,443846331,465769792,468785354,467601127,484532926,562589289,...,679872934,782420357,689728418,700226625,688908434,669357358,671464155,644423698,688106682,763049912
13,Illinois,1272164392,3128505463,3787395383,4402319739,4949209265,4728937533,4879526580,5255753298,5813116523,...,7469049674,8170869666,7170081651,7196027858,6657828557,6440730096,6723513048,6412886836,6818848717,7210320126
14,Indiana,588909058,1565548276,1831992075,2012969908,2163633194,2243657479,2271212934,2486601474,2663698922,...,3883891185,4449701053,3319401466,3141193144,3385141198,3280054276,3226664721,3136241187,3340895914,3567259908
15,Iowa,305590676,901029813,1050102995,1197441529,1359456012,1431675661,1523025722,1960014304,2276849748,...,2421686820,2975816717,2230980596,2197721443,1666660077,1620396195,1603492496,1554130644,1659976682,1732317591
16,Kansas,296011073,714466440,831895259,949612346,980808704,996327475,985416174,1038701562,1114729744,...,1499228798,1716917605,1486510033,1497102093,1439276872,1414294642,1383407700,1328275515,1385123550,1501726955
17,Kentucky,501796366,949124657,1097466524,1236706200,1360229743,1499444374,1499200583,1624990570,1739805781,...,2157474471,2480188340,2209055707,2270204083,2208575378,2248698102,2248634277,2244499776,2425330125,2537307370
18,Louisiana,643637545,1336661483,1454436369,1658234909,1717280472,1673063069,1660398638,1671183286,1734100593,...,2176484426,2384286206,2328611993,2489362542,2513977136,2518798316,2594359483,2530035853,2774696659,2954698636
19,Maine,154133835,327987375,371144771,402203249,423214886,418711062,427830422,447461242,478196985,...,657899841,742226992,689862463,700237650,672684725,655599146,641337830,628993088,672443269,702871058
20,Maryland,461461303,1094203563,1248475008,1366392680,1505190669,1564968595,1573459095,1707514009,1914689258,...,2418090781,2718937482,2511350458,2625009128,2480450206,2425352727,2379171760,2377547593,2576700698,2774400136
21,Massachusetts,662761571,1908834439,2158368561,2388397776,2603588836,2670561086,2608631711,2791876591,3153444001,...,3951763992,4167295567,4117827769,4227505004,4052189459,3910887919,3883570968,3870808308,4098651225,4280369005
22,Michigan,1105793304,2438946185,2853382957,3173344267,3454672680,3612333060,3734005600,4194823730,4795022745,...,5170171423,6080750602,5020924872,4934435871,4696645199,4526320444,4361465070,4217208911,4502254531,4747745469
23,Minnesota,465781969,1266655860,1491617009,1754990277,1939365014,2133466102,2322627249,2720416368,2973502580,...,4177354624,4938837193,3942624446,3912815287,3770573766,3686632418,3614185748,3411209638,3580369872,3751100934
24,Mississippi,448733274,810714107,914917630,1030626853,1103081748,1154835325,1120054323,1235401454,1302401255,...,1526910147,1650014134,1595376188,1646055353,1601803745,1541491783,1572997098,1516678222,1592288396,1736559050
25,Missouri,597240071,1593065077,1825224666,2061996961,2258962812,2356116918,2455501942,2510828590,2659692755,...,3294846788,3812051414,3274176259,3305034872,3148464544,3049455170,2981227335,2849113339,3027823792,3185729561
26,Montana,156536540,298360532,337784625,369708627,376050552,375974288,373357573,377637341,390295347,...,462528448,500855492,489940010,494879413,484861277,471217377,476882763,473079568,496757925,529217635
27,Nebraska,189206074,498722144,561372404,637057108,703859098,703224866,708693051,750456923,811008586,...,1003334932,1102327281,1018198232,1045790369,1028414429,1007173491,1034759154,988201448,1069439338,1113606725
28,Nevada,127129727,259985925,315850518,363882348,400225384,447480692,452284897,548856691,604407232,...,817331435,968043653,813339835,849872620,853245313,850124531,882135415,873250683,961012299,1036097142
29,New Hampshire,114094562,326084388,379199766,408411200,423650638,432014135,438087063,479709024,505989489,...,1061917977,1293321749,1307252727,1227902365,1338124989,1461315424,1208481588,1413903627,1467368721,1565710412
30,New Jersey,761924027,1568266890,1788556522,1906148101,2148413429,2223697671,2122576555,2302794768,2569965494,...,3221345476,3582704741,3426006491,3503643365,3447693060,3411844829,3332022123,3306233371,3593370406,3857901931
31,New Mexico,332184647,530066506,609110771,684817087,735023519,747461489,732575554,737216000,784943743,...,870397778,1032326086,864148149,861734830,851116686,832671300,836974079,804150414,865051925,922891131
32,New York,2583256084,6011667167,6856280172,7590280856,8106090202,8153308555,8196631641,8514733210,9170530970,...,11060800392,11218667576,11454985934,11583626064,11323969827,11048816486,10726906378,10893626031,11675266614,12306443392
33,North Carolina,753759804,1641764159,1942521331,2219887909,2315149754,2468879245,2535976395,2712595650,2987459791,...,4234028617,4578311630,4355257718,4473198043,4320490529,4260350908,4262925346,4218685960,4455400721,4805167195
34,North Dakota,117810518,258845309,293462900,318814767,323609847,340069374,350723567,338478195,347491310,...,371500996,442238192,390821271,413089615,409069796,415061406,422470560,409834011,446499435,457550204
35,Ohio,1171953385,2954518787,3346374854,3829932878,3919276071,4034554557,4122599532,4439000194,4977033577,...,5656542207,6533633478,5523290838,5535034392,5377536434,5198718613,5187758023,4948042436,5253034935,5641891865
36,Oklahoma,449407200,961098433,1129165230,1250970587,1334923300,1383106457,1358397668,1369915637,1460048450,...,1672978363,1843720846,1745468226,1902550377,1852146940,1851067418,1755572816,1708210600,1890355495,1963603662
37,Oregon,347636498,911681573,1045914343,1188324467,1318760448,1307882154,1295029955,1372901433,1570400632,...,2174406328,2408479897,1956703581,1953628193,1864317520,1773806155,1695574008,1615626627,1763520807,1840744226
38,Pennsylvania,1285504828,3795993993,4218203051,4576009648,4740816851,5045260714,5294647339,5586045205,5782155092,...,7516987147,7789574306,7583396339,7689615661,7301398795,7052522693,6983994297,6839544256,7273474790,7613208309
39,Rhode Island,134418578,401957614,426601401,500204883,530793180,579074776,552904039,607021205,672191793,...,733435118,719375958,769185794,777178358,742469353,723307960,696779558,670540463,724389379,753843983
40,South Carolina,443090828,922375423,1086611670,1240482040,1313444504,1325000535,1374888937,1486225056,1594238879,...,2202213757,2446631330,2276562599,2329416175,2264532149,2234455037,2198475014,2148795036,2307912321,2425207164
41,South Dakota,133366735,296723889,342344861,373160375,375611344,404652702,385732599,401770417,416833841,...,589893533,672035159,575346282,575016768,546790777,519053357,509697577,497225187,519172700,551058426
42,Tennessee,583465744,1326565262,1514613174,1705965593,1895812898,1930731025,1976977392,2132145240,2291867545,...,3003457777,3327837520,3092690181,3117050293,3009125001,2947122107,3160639128,3109580729,3368495310,3531951110
43,Texas,2484215057,4760220857,5638643478,6541541039,7207764023,7652047983,7792289367,7953251577,8419664869,...,10716225910,11904115213,11326225425,11724170200,11585891325,11522208466,11769142219,11736046290,12613346451,13661497495
44,Utah,255609306,510599570,594855398,674510076,762450195,763993683,767757139,807844965,851623835,...,1549237437,1796028865,1657822174,1823315647,1910906004,1922132608,1972555846,1886134430,2099674819,2216184396
45,Vermont,91491401,253879970,276976033,304548823,318894589,331030556,348958046,382073088,392882308,...,442921894,412206831,448797739,458488633,439616180,429439576,412278121,396216589,420254252,435157499
46,Virginia,641092965,1564714192,1772711389,1952288975,2122509463,2343361290,2400097845,2668430091,2930408743,...,4286211235,5471429814,4404295843,4526294721,4493669761,4497863794,4449177343,4411761992,4777874170,4945926328
47,Washington,569577741,1253035444,1501299011,1663743593,1780464671,1790296779,1718697048,1775557207,1960404300,...,2506549880,2694008709,2475003234,2501109120,2471252194,2385713525,2372066738,2285866171,2412538569,2629297055
48,West Virginia,257981746,520774265,593509323,677382817,714586624,724741052,747262992,813660993,951378318,...,1259501298,1395598939,1195333433,1161520349,1147837812,1097140733,1062458537,1047911882,1066809875,1171148805
49,Wisconsin,530100703,1205201789,1357291868,1511374487,1613726426,1682084698,1695229913,1867581068,1995660623,...,2513800854,2896711238,2443197825,2461654557,2371695509,2342179214,2279514524,2195977973,2357405068,2505089591
50,Wyoming,86526320,152676575,182179355,211058170,258093648,264614902,247839567,218406197,224783405,...,223082544,252445432,231855270,235790083,231368788,234582457,234707631,238693019,261942548,276703849

In [94]:
ed_merged_long = ed_merged_wide.melt(
    id_vars="State or Other Area",   # keep this column as is
    var_name="Year",                 # new column name for former wide column headers
    value_name="Value"               # new column name for the numbers
)

In [95]:
ed_merged_long

     State or Other Area  Year       Value
0                Alabama  2000   557767814
1                 Alaska  2000   177881580
2                Arizona  2000   667976456
3               Arkansas  2000   328403457
4             California  2000  3792096590
...                  ...   ...         ...
1270            Virginia  2024  4945926328
1271          Washington  2024  2629297055
1272       West Virginia  2024  1171148805
1273           Wisconsin  2024  2505089591
1274             Wyoming  2024   276703849

[1275 rows x 3 columns]

In [96]:
ed_merged_long.rename(columns={"State or Other Area": "State"}, inplace=True)

In [97]:
ed_merged_long

              State  Year       Value
0           Alabama  2000   557767814
1            Alaska  2000   177881580
2           Arizona  2000   667976456
3          Arkansas  2000   328403457
4        California  2000  3792096590
...             ...   ...         ...
1270       Virginia  2024  4945926328
1271     Washington  2024  2629297055
1272  West Virginia  2024  1171148805
1273      Wisconsin  2024  2505089591
1274        Wyoming  2024   276703849

[1275 rows x 3 columns]

In [102]:
ed_merged_long["Year"] = ed_merged_long["Year"].astype(int)

inflation_factors = {
    2000: 1.83, 2001: 1.76, 2002: 1.74, 2003: 1.70, 
    2004: 1.67, 2005: 1.62, 2006: 1.56, 2007: 1.52,
    2008: 1.46, 2009: 1.46, 2010: 1.42, 2011: 1.40,
    2012: 1.36, 2013: 1.34, 2014: 1.32, 2015: 1.32,
    2016: 1.30, 2017: 1.27, 2018: 1.24, 2019: 1.23,
    2020: 1.20, 2021: 1.18, 2022: 1.10, 2023: 1.03,
    2024: 1.00
}

ed_merged_long["Inflation_Factor"] = ed_merged_long["Year"].map(inflation_factors)

ed_merged_long["Value_adj"] = ed_merged_long["Value"] * ed_merged_long["Inflation_Factor"]

In [106]:
ed_merged_long.head(50)

                   State  Year       Value  Inflation_Factor     Value_adj
0                Alabama  2000   557767814              1.83  1.020715e+09
1                 Alaska  2000   177881580              1.83  3.255233e+08
2                Arizona  2000   667976456              1.83  1.222397e+09
3               Arkansas  2000   328403457              1.83  6.009783e+08
4             California  2000  3792096590              1.83  6.939537e+09
5               Colorado  2000   370882855              1.83  6.787156e+08
6            Connecticut  2000   288895735              1.83  5.286792e+08
7               Delaware  2000    85735787              1.83  1.568965e+08
8   District of Columbia  2000   115040586              1.83  2.105243e+08
9                Florida  2000  1590311741              1.83  2.910270e+09
10               Georgia  2000   822536045              1.83  1.505241e+09
11                Hawaii  2000   132643273              1.83  2.427372e+08
12                 Idaho  2000   150011363              1.83  2.745208e+08
13              Illinois  2000  1272164392              1.83  2.328061e+09
14               Indiana  2000   588909058              1.83  1.077704e+09
15                  Iowa  2000   305590676              1.83  5.592309e+08
16                Kansas  2000   296011073              1.83  5.417003e+08
17              Kentucky  2000   501796366              1.83  9.182873e+08
18             Louisiana  2000   643637545              1.83  1.177857e+09
19                 Maine  2000   154133835              1.83  2.820649e+08
20              Maryland  2000   461461303              1.83  8.444742e+08
21         Massachusetts  2000   662761571              1.83  1.212854e+09
22              Michigan  2000  1105793304              1.83  2.023602e+09
23             Minnesota  2000   465781969              1.83  8.523810e+08
24           Mississippi  2000   448733274              1.83  8.211819e+08
25              Missouri  2000   597240071              1.83  1.092949e+09
26               Montana  2000   156536540              1.83  2.864619e+08
27              Nebraska  2000   189206074              1.83  3.462471e+08
28                Nevada  2000   127129727              1.83  2.326474e+08
29         New Hampshire  2000   114094562              1.83  2.087930e+08
30            New Jersey  2000   761924027              1.83  1.394321e+09
31            New Mexico  2000   332184647              1.83  6.078979e+08
32              New York  2000  2583256084              1.83  4.727359e+09
33        North Carolina  2000   753759804              1.83  1.379380e+09
34          North Dakota  2000   117810518              1.83  2.155932e+08
35                  Ohio  2000  1171953385              1.83  2.144675e+09
36              Oklahoma  2000   449407200              1.83  8.224152e+08
37                Oregon  2000   347636498              1.83  6.361748e+08
38          Pennsylvania  2000  1285504828              1.83  2.352474e+09
39          Rhode Island  2000   134418578              1.83  2.459860e+08
40        South Carolina  2000   443090828              1.83  8.108562e+08
41          South Dakota  2000   133366735              1.83  2.440611e+08
42             Tennessee  2000   583465744              1.83  1.067742e+09
43                 Texas  2000  2484215057              1.83  4.546114e+09
44                  Utah  2000   255609306              1.83  4.677650e+08
45               Vermont  2000    91491401              1.83  1.674293e+08
46              Virginia  2000   641092965              1.83  1.173200e+09
47            Washington  2000   569577741              1.83  1.042327e+09
48         West Virginia  2000   257981746              1.83  4.721066e+08
49             Wisconsin  2000   530100703              1.83  9.700843e+08

In [107]:
ed_merged_long.to_csv("../data/ed_merged_long.csv", index=False)

In [108]:
ed_merged_filtered = ed_merged_long[
    (ed_merged_long["Year"] >= 2000) & 
    (ed_merged_long["Year"] <= 2021)
]


state_avg = (
    ed_merged_filtered.groupby("State")["Value_adj"]
    .mean()
    .round(1)
    .reset_index()
)


state_avg_sorted = state_avg.sort_values(by="Value_adj", ascending=False).reset_index(drop=True)

In [109]:
state_avg_sorted

                   State     Value_adj
0             California  1.972517e+10
1               New York  1.357465e+10
2                  Texas  1.317121e+10
3                Florida  1.055641e+10
4           Pennsylvania  8.839659e+09
5               Illinois  8.758405e+09
6                Arizona  8.017639e+09
7                   Ohio  7.164295e+09
8               Michigan  6.429868e+09
9                Georgia  5.919851e+09
10              Virginia  4.840612e+09
11        North Carolina  4.764693e+09
12         Massachusetts  4.657452e+09
13             Minnesota  4.503099e+09
14               Indiana  4.304878e+09
15              Missouri  4.028526e+09
16            New Jersey  3.897749e+09
17             Tennessee  3.568717e+09
18              Colorado  3.304514e+09
19               Alabama  3.181627e+09
20                  Iowa  3.076580e+09
21             Wisconsin  3.009440e+09
22            Washington  2.995498e+09
23              Maryland  2.876249e+09
24             Louisiana  2.808643e+09
25              Kentucky  2.653583e+09
26        South Carolina  2.565122e+09
27                Oregon  2.409132e+09
28              Oklahoma  2.201620e+09
29           Mississippi  1.933245e+09
30           Connecticut  1.905419e+09
31  District of Columbia  1.823277e+09
32                Kansas  1.759397e+09
33                  Utah  1.754216e+09
34              Arkansas  1.621680e+09
35         West Virginia  1.413776e+09
36              Nebraska  1.223539e+09
37            New Mexico  1.174646e+09
38         New Hampshire  1.076077e+09
39                Nevada  9.132168e+08
40          Rhode Island  9.057683e+08
41                 Idaho  8.478809e+08
42                 Maine  7.778848e+08
43          South Dakota  6.896392e+08
44               Montana  6.117595e+08
45                Hawaii  5.677226e+08
46               Vermont  5.454583e+08
47              Delaware  5.328399e+08
48          North Dakota  5.227185e+08
49                Alaska  5.058636e+08
50               Wyoming  3.272648e+08

In [110]:
state_avg_sorted.to_csv("../data/avg_ed_merged_by_state.csv", index=False)